* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* navbar */
  .navbar-nb {
    background-color: #ffffff; 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }
  
  .navbar-container-nb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
  }
  
  .navbar-logo-nb {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: auto;
  }
  
  .navbar-logo-img-nb {
    width: 190px; 
    height: auto;
    margin-right: 490px;
    padding-top: 15px;
  }
  
  .nav-menu-nb {
    display: flex;
    list-style: none;
  }
  
  .nav-item-nb {
    margin-left: 20px;
  }
  
  .nav-links-nb {
    color: #000000; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
  }

  .nav-links-2-nb {
    color: #000000; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-out;
  }
  
  .nav-links-nb:hover {
    color: #25b4e0;
  }

  .nav-links-2-nb:hover {
    color: #52bb90;
  }
  
  .sign-in-button-nb {
    background-color: #52bb90;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none; 
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-out;
  }
  
  .sign-in-button-nb:hover {
    background-color: #46a07a; 
    color: #ffffff;
  }